
 html{
   height: 100%
 }
body {
   background-image: url("./images/high-res-metro-map.png");
   background-size: 70%;
   background-repeat: no-repeat;
   background-color: white;
   height: 100%;
 }
.main{
  height: 100%;
}
.container-fluid{
  height: 100%;
}
 .map-container{
   height: 100%;
   width: 75%;
 }
 #clear-selection{
   position: fixed;
   right: 27vw;
   top: 2vw;
 }

 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    background-image:linear-gradient(rgba(0, 50, 204, 0.5), rgba(0, 50, 204, 0.5)), url("./images/Dc-capitol.jpeg");
    background-size: 140%;
    background-repeat: none;
    box-shadow: -1px 0px 1px 0px;
    padding-left: 0px;

}

.sidenav-header{
  position: fixed;
  background-color: rgb(70,121,176);
  top: 0;
  color: white;
  border-radius: 4px;
  border-bottom: .5px white solid;
}
  .sidenav-header h2{
    position: relative;
    margin-left: 7.5%;
    font-size: 2.7vw;
  }


  .trip-form-container{
    position: relative;
    top: 8vw;
  }

  .form-label{
    padding: .4rem .5rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    color: white;
    text-align: center;
    background-color: rgb(70,121,176);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  /*Extra padding for the origin label to make same size as destination  */
  #origin-label{
    padding-left: 1.7em;
    padding-right: 1.7em;
  }

  .trip-information-container{
    position: relative;
    top: 12vw;
    left: 9%;
    width: 82%;
    border-radius: 4px;
    overflow: hidden;

  }

  .trip-information-container ul{
    padding-left: 1.4vw;
    max-height: 15vw;
    overflow: scroll;
    height: 15vw;
    border-radius: 10px 10px;
  }


  .trip-information-container li{
    border: .5px solid rgb(70,121,176);
    background-color: rgba(255,255,255);

  }

  .login-btn{
    position: relative;
    top: 43vw;
    background-color: rgb(70,121,176);
    color: white;

  }

  .continue-btn {
    background-color: rgb(70,121,176);
    color: white;
  }



.stop{
  background-color: white;
  border-radius: 50%;
  border: black solid 4px;
  height: 1.2vw;
  width: 1.2vw;
}


#login-btn {
  position: relative;
  bottom: 2vw;
}

#shady-grove{
  position: absolute;
  left: 10.6vw;
  top: 4.8vw;
}
#rockville{
  position: absolute;
  left: 12.2vw;
  top: 6.4vw;
}
#twinbrook{
  position: absolute;
  left: 14.1vw;
  top: 8.2vw;
}
#whiteflint{
  position: absolute;
  left: 15.8vw;
  top: 10vw;
}
#grovesnor-strathmore{
  position: absolute;
  left: 17.6vw;
  top: 11.8vw;
}
#medical-center{
  position: absolute;
  left: 19.4vw;
  top: 13.6vw;
}

#bethesda{
  position: absolute;
  left: 21.1vw;
  top: 15.3vw;
}


#friendship-heights{
  position: absolute;
  left: 22.7vw;
  top: 16.9vw;
}

#tenleytown-au{
  position: absolute;
  left: 24vw;
  top: 17.8vw;
}

#van-ness-udc{
  position: absolute;
  left: 25.6vw;
  top: 18vw;
}

#cleveland-park{
  position: absolute;
  left: 26.7vw;
  top: 19.2vw;
}

#woodley-park{
  position: absolute;
  left: 28vw;
  top: 20.4vw;
}

#dupont-circle{
  position: absolute;
  left: 29.2vw;
  top: 21.6vw;
}

#farragut-north{
  position: absolute;
  left: 30.2vw;
  top: 23.2vw;

}
#metro-center{
  position: absolute;
  left: 33.5vw;
  top: 28.6vw;
}

#gallery-place{
  position: absolute;
  left: 38.28vw;
  top: 28.6vw;

}

#judiciary-square{
  position: absolute;
  left: 41.3vw;
  top: 28.7vw;

}

#union-station{
  position: absolute;
  left: 44.6vw;
  top: 27.3vw;

}
#noma-gallaudet-u{
  position: absolute;
  left: 44.6vw;
  top: 25.3vw;

}

#rhode-island-ave{
  position: absolute;
  left: 44.6vw;
  top: 23.2vw;
}

#brookland-cua{
  position: absolute;
  left: 44.6vw;
  top: 21.2vw;

}
#fort-totten{
  position: absolute;
  left: 40.5vw;
  top: 16.3vw;
}

#takoma{
  position: absolute;
  left: 36vw;
  top: 11.9vw;

}

#silver-spring{
  position: absolute;
  left: 35.2vw;
  top: 7.2vw;
}
#forest-glen{
  position: absolute;
  left: 35.2vw;
  top: 5.2vw;
}

#wheaton{
  position: absolute;
  left: 35.2vw;
  top: 3.3vw;
}

#glenmont{
  position: absolute;
  left: 35.2vw;
  top: 1.4vw;
}

#vienna{
  position: absolute;
  left: 3.25vw;
  top: 30.7vw;
}

#dunn-loring{
  position: absolute;
  left: 5.55vw;
  top: 30.7vw;
}
#west-falls-church{
  position: absolute;
  left: 7.85vw;
  top: 30.7vw;
}
#east-falls-church{
  position: absolute;
  left: 10.75vw;
  top: 31.28vw;
}
#ballston-mu{
  position: absolute;
  left: 13vw;
  top: 31.28vw;
}
#virgina-square-gmu{
  position: absolute;
  left: 14.67vw;
  top: 31.28vw;

}
#clarendon{
  position: absolute;
  left: 16.4vw;
  top: 31.28vw;

}
#court-house{
  position: absolute;
  left: 18.13vw;
  top: 31.28vw;

}

#rosslyn{
  position: absolute;
  left: 20.5vw;
  top: 28.8vw;
}
#foggy-bottom-gwu{
  position: absolute;
  left: 26.40vw;
  top: 25.5vw;
}

#farragut-west{
  position: absolute;
  left: 28.25vw;
  top: 25.5vw;
}

#mcpherson-sq{
  position: absolute;
  left: 31.6vw;
  top: 25.5vw;
}

#federal-triangle{
  position: absolute;
  left: 33.5vw;
  top: 31.1vw;
}

#smithsonian{
  position: absolute;
  left: 33.5vw;
  top: 33vw;
}

#lenfant-plaza{
  position: absolute;
  left: 38.28vw;
  top: 34.85vw;
}

#federal-center-sw{
  position: absolute;
  left: 41.1vw;
  top: 34.9vw;

}

#capitol-south{
  position: absolute;
  left: 43.5vw;
  top: 34.9vw;
}

#eastern-market{
  position: absolute;
  left: 45.7vw;
  top: 34.5vw;
}

#potomac-ave{
  position: absolute;
  left: 47vw;
  top: 33.17vw;
}

#stadium-armory{
  position: absolute;
  left: 49.6vw;
  top: 32.55vw;
}

#minnesota-ave{
  position: absolute;
  left: 53.9vw;
  top: 31vw;
}

#deanwood{
  position: absolute;
  left: 55.4vw;
  top: 29.49vw;

}

#cheverly{
  position: absolute;
  left: 56.8vw;
  top: 28.1vw;
}

#landover{
  position: absolute;
  left: 58.2vw;
  top: 26.6vw;
}
#new-carrolton{
  position: absolute;
  left: 59.6vw;
  top: 25.2vw;
}

#largo-town-center{
  position: absolute;
  left: 63.4vw;
  top: 33.20vw;
}

#morgan-blvd{
  position: absolute;
  left: 61.7vw;
  top: 33.20vw;
}

#addison-rd{
  position: absolute;
  left: 59.9vw;
  top: 33.20vw;
}

#capitol-heights{
  position: absolute;
  left: 58.22vw;
  top: 33.20vw;
}

#benning-rd{
  position: absolute;
  left: 56.4vw;
  top: 33.20vw;
}

#mclean{
  position: absolute;
  left: 7.90vw;
  top: 29.4vw;
}

#tysons-corner{
  position: absolute;
  left: 6.70vw;
  top: 28.2vw;

}
#greensboro{
  position: absolute;
  left: 5.50vw;
  top: 27.1vw;
}

#spring-hill{
  position: absolute;
  left: 4.35vw;
  top: 25.9vw;
}

#wiehle-reston-east{
  position: absolute;
  left: 3.15vw;
  top: 24.8vw;
}

#greenbelt{
  position: absolute;
  left: 47.1vw;
  top: 9.55vw;

}

#college-park{
  position: absolute;
  left: 45.8vw;
  top: 11vw;

}

#prince-georges-plaza{
  position: absolute;
  left: 44.4vw;
  top: 12.4vw;
}

#west-hyattsville{
  position: absolute;
  left: 43vw;
  top: 13.8vw;
}

#georgia-ave-petworth{
  position: absolute;
  left: 36.5vw;
  top: 17.6vw;
}

#columbia-heights{
  position: absolute;
  left: 34.6vw;
  top: 19.4vw;
}

#u-st{
  position: absolute;
  left: 36.5vw;
  top: 21.5vw;
}

#shaw-howard-u{
  position: absolute;
  left: 38.31vw;
  top: 23.7vw;
}

#mt-vernon-sq{
  position: absolute;
  left: 38.31vw;
  top: 26.1vw;
}

#archives{
  position: absolute;
  left: 38.31vw;
  top: 31.2vw;
}

#waterfront{
  position: absolute;
  left: 40.9vw;
  top: 41.21vw;
}

#navy-yard-ballpark{
  position: absolute;
  left: 42.8vw;
  top: 41.21vw;
}

#anacostia{
  position: absolute;
  left: 46.05vw;
  top: 42.6vw;
}
#congress-heights{
  position: absolute;
  left: 47.28vw;
  top: 43.8vw;
}

#southern-ave{
  position: absolute;
  left: 49.05vw;
  top: 44.8vw;
}

#naylor-rd{
  position: absolute;
  left: 51.3vw;
  top: 44.5vw;
}

#suitland{
  position: absolute;
  left: 52.9vw;
  top: 45.9vw;
}

#branch-ave{
  position: absolute;
  left: 54.2vw;
  top: 47.31vw;
}

#huntington{
  position: absolute;
  left: 32.3vw;
  top: 60.1vw;
}

#eisenhower-ave{
  position: absolute;
  left: 32.3vw;
  top: 57.2vw;
}

#king-st-old-town{
  position: absolute;
  left: 31.8vw;
  top: 54.2vw;
}

#braddock-rd{
  position: absolute;
  left: 31.8vw;
  top: 51.7vw;
}

#ronald-reagan{
  position: absolute;
  left: 31.8vw;
  top: 49.8vw;
}

#crystal-city{
  position: absolute;
  left: 29.3vw;
  top: 48.2vw;
}

#pentagon-city{
  position: absolute;
  left: 27.9vw;
  top: 45.6vw;
}

#pentagon{
  position: absolute;
  left: 27.9vw;
  top: 42.5vw;
}

#arlington-cemetery{
  position: absolute;
  left: 24.5vw;
  top: 37.9vw;
}

#van-dorn-st{
  position: absolute;
  left: 22.33vw;
  top: 56.4vw;
}

#franconia-springfield{
  position: absolute;
  left: 19.36vw;
  top: 60.1vw;
}
