
 html{
   height: 100%
 }
body {
   background-image: url("./dcmetro.jpg");
   background-size: 70%;
   background-repeat: no-repeat;
   background-color: white;
   height: 100%;

 }

 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 29vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-image:linear-gradient(rgba(0, 50, 204, 0.5), rgba(0, 50, 204, 0.5)), url("./Dc-capitol.jpeg");
    background-size: 140%;
    background-repeat: none;
    /* overflow-x: hidden; /* Disable horizontal scroll */ */
    padding-top: 20px;
    box-shadow: -1px 0px 1px 0px;

}

.sidenav-header{
  width: 100%;
  margin: 0px;
  background-color: rgb(70,121,176);
  top: 0;
  position: fixed;
  color: white;
  border-radius: 4px;
  border-bottom: .5px white solid;

}
  .sidenav-header h2{
  position:relative;
  left: 10vw;
  font-size: 2.5vw;
  }

  .trip-form-container{
    position: relative;
    top: 8vw;
    /* background-color: rgba(255,255,255,.5); */
    width: 95%;
    left: 2.5%;
    border-radius: 4px;
  }

  .form-label{
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.25;
    color: white;
    text-align: center;
    background-color: rgb(70,121,176);
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  /*Extra padding for the origin label to make same size as destination  */
  #origin-label{
    padding-left: 2em;
    padding-right: 2em;
  }

  .trip-information-container{
    position: relative;
    top: 14vw;
    height:2vw;
    left: 9%;
    height: 5.5vw;
    background-color: white;
    width: 82%;
    border: 1px solid rgb(70,121,176);
    border-radius: 4px;
    overflow: hidden;

  }

  .trip-information-container ul{
    padding-left: 1.4vw;
    max-height: 4.7vw;
    overflow: scroll;
  }

  .trip-information-container li{
    border: .5px solid rgb(70,121,176);

  }

  .login-btn{
    position: relative;
    top: 45vw;
    left: 19vw;
    background-color: rgb(70,121,176);
    color: white;

  }








.stop{
  background-color: yellow;
  border-radius: 50%;
  height: .9vw;
  width: .9vw;
}


#shady-grove{
  position: absolute;
  left: 10.6vw;
  top: 4.8vw;
}
#rockville{
  position: absolute;
  left: 12.4vw;
  top: 6.6vw;
}
#twinbrook{
  position: absolute;
  left: 14.2vw;
  top: 8.4vw;
}
#whiteflint{
  position: absolute;
  left: 16.0vw;
  top: 10.2vw;
}
#grovesnor-strathmore{
  position: absolute;
  left: 17.8vw;
  top: 11.9vw;
}
#medical-center{
  position: absolute;
  left: 19.6vw;
  top: 13.8vw;
}

#bethesda{
  position: absolute;
  left: 21.4vw;
  top: 15.5vw;
}


#friendship-heights{
  position: absolute;
  left: 23.1vw;
  top: 17.2vw;
}

#tenleytown-au{
  position: absolute;
  left: 24.3vw;
  top: 18.1vw;
}

#van-ness-udc{
  position: absolute;
  left: 25.9vw;
  top: 18.3vw;
}

#cleveland-park{
  position: absolute;
  left: 26.9vw;
  top: 19.4vw;
}

#woodley-park{
  position: absolute;
  left: 28.2vw;
  top: 20.6vw;
}

#dupont-circle{
  position: absolute;
  left: 29.5vw;
  top: 21.9vw;
}

#farragut-north{
  position: absolute;
  left: 30.5vw;
  top: 23.5vw;

}
#metro-center{
  position: absolute;
  left: 34.0vw;
  top: 29.0vw;

}

#gallery-place{
  position: absolute;
  left: 38.7vw;
  top: 29.0vw;

}

#judiciary-square{
  position: absolute;
  left: 41.8vw;
  top: 29.0vw;

}

#union-station{
  position: absolute;
  left: 45.1vw;
  top: 27.7vw;

}
#noma-gallaudet-u{
  position: absolute;
  left: 45.1vw;
  top: 25.5vw;

}

#rhode-island-ave{
  position: absolute;
  left: 45.1vw;
  top: 23.5vw;
}

#brookland-cua{
  position: absolute;
  left: 45.1vw;
  top: 21.5vw;

}
#fort-totten{
  position: absolute;
  left: 41.0vw;
  top: 16.5vw;
}

#takoma{
  position: absolute;
  left: 36.4vw;
  top: 11.9vw;

}

#silver-spring{
  position: absolute;
  left: 35.6vw;
  top: 7.3vw;
}
#forest-glen{
  position: absolute;
  left: 35.6vw;
  top: 5.3vw;
}

#wheaton{
  position: absolute;
  left: 35.6vw;
  top: 3.3vw;
}

#glenmont{
  position: absolute;
  left: 35.6vw;
  top: 1.4vw;
}

#vienna{
  position: absolute;
  left: 3.25vw;
  top: 31.05vw;
}

#dunn-loring{
  position: absolute;
  left: 5.55vw;
  top: 31.05vw;
}
#west-falls-church{
  position: absolute;
  left: 7.85vw;
  top: 31.05vw;
}
#east-falls-church{
  position: absolute;
  left: 10.9vw;
  top: 31.71vw;
}
#ballston-mu{
  position: absolute;
  left: 13.1vw;
  top: 31.71vw;
}
#virgina-square-gmu{
  position: absolute;
  left: 14.77vw;
  top: 31.71vw;

}
#clarendon{
  position: absolute;
  left: 16.5vw;
  top: 31.71vw;

}
#court-house{
  position: absolute;
  left: 18.23vw;
  top: 31.71vw;

}

#rosslyn{
  position: absolute;
  left: 20.78vw;
  top: 29.11vw;
}
#foggy-bottom-gwu{
  position: absolute;
  left: 26.80vw;
  top: 25.76vw;
}

#farragut-west{
  position: absolute;
  left: 28.65vw;
  top: 25.76vw;

}

#mcpherson-sq{
  position: absolute;
  left: 31.99vw;
  top: 25.76vw;

}
#federal-triangle{
  position: absolute;
  left: 33.97vw;
  top: 31.50vw;

}
#smithsonian{
  position: absolute;
  left: 33.97vw;
  top: 33.38vw;

}

#lenfant-plaza{
  position: absolute;
  left: 38.77vw;
  top: 35.38vw;
}

#federal-center-sw{
  position: absolute;
  left: 41.57vw;
  top: 35.38vw;

}

#capitol-south{
  position: absolute;
  left: 43.97vw;
  top: 35.38vw;

}

#eastern-market{
  position: absolute;
  left: 46.2vw;
  top: 34.78vw;
}

#potomac-ave{
  position: absolute;
  left: 47.52vw;
  top: 33.47vw;
}

#stadium-armory{
  position: absolute;
  left: 50.22vw;
  top: 32.99vw;
}

#minnesota-ave{
  position: absolute;
  left: 54.60vw;
  top: 31.35vw;
}

#deanwood{
  position: absolute;
  left: 56.0vw;
  top: 29.79vw;

}

#cheverly{
  position: absolute;
  left: 57.48vw;
  top: 28.29vw;
}

#landover{
  position: absolute;
  left: 58.9vw;
  top: 26.94vw;
}
#new-carrolton{
  position: absolute;
  left: 60.36vw;
  top: 25.44vw;
}

#largo-town-center{
  position: absolute;
  left: 64.15vw;
  top: 33.43vw;

}
#morgan-blvd{
  position: absolute;
  left: 62.42vw;
  top: 33.43vw;

}
#addison-rd{
  position: absolute;
  left: 60.62vw;
  top: 33.43vw;
}

#capitol-heights{
  position: absolute;
  left: 58.92vw;
  top: 33.43vw;
}

#benning-rd{
  position: absolute;
  left: 57.12vw;
  top: 33.43vw;
}

#mclean{
  position: absolute;
  left: 7.90vw;
  top: 29.65vw;
}

#tysons-corner{
  position: absolute;
  left: 6.70vw;
  top: 28.55vw;

}
#greensboro{
  position: absolute;
  left: 5.50vw;
  top: 27.35vw;
}

#spring-hill{
  position: absolute;
  left: 4.35vw;
  top: 26.20vw;
}

#wiehle-reston-east{
  position: absolute;
  left: 3.15vw;
  top: 25.06vw;
}

#greenbelt{
  position: absolute;
  left: 47.8vw;
  top: 9.55vw;

}

#college-park{
  position: absolute;
  left: 46.35vw;
  top: 11.15vw;

}

#prince-georges-plaza{
  position: absolute;
  left: 44.94vw;
  top: 12.62vw;
}

#west-hyattsville{
  position: absolute;
  left: 43.47vw;
  top: 13.92vw;
}

#georgia-ave-petworth{
  position: absolute;
  left: 36.95vw;
  top: 17.85vw;
}

#columbia-heights{
  position: absolute;
  left: 35.0vw;
  top: 19.69vw;
}

#u-st{
  position: absolute;
  left: 36.90vw;
  top: 21.85vw;
}

#shaw-howard-u{
  position: absolute;
  left: 38.7vw;
  top: 23.99vw;
}

#mt-vernon-sq{
  position: absolute;
  left: 38.7vw;
  top: 26.38vw;
}

#archives{
  position: absolute;
  left: 38.7vw;
  top: 31.41vw;
}

#waterfront{
  position: absolute;
  left: 41.3vw;
  top: 41.81vw;
}

#navy-yard-ballpark{
  position: absolute;
  left: 43.18vw;
  top: 41.81vw;
}

#anacostia{
  position: absolute;
  left: 46.65vw;
  top: 43.01vw;
}
#congress-heights{
  position: absolute;
  left: 47.78vw;
  top: 44.36vw;

}

#southern-ave{
  position: absolute;
  left: 49.65vw;
  top: 45.21vw;
}

#naylor-rd{
  position: absolute;
  left: 52.05vw;
  top: 44.89vw;
}

#suitland{
  position: absolute;
  left: 53.45vw;
  top: 46.41vw;
}

#branch-ave{
  position: absolute;
  left: 54.98vw;
  top: 47.81vw;
}

#huntington{
  position: absolute;
  left: 32.7vw;
  top: 60.7vw;
}

#eisenhower-ave{
  position: absolute;
  left: 32.7vw;
  top: 57.9vw;
}

#king-st-old-town{
  position: absolute;
  left: 32.2vw;
  top: 54.9vw;
}
#braddock-rd{
  position: absolute;
  left: 32.2vw;
  top: 52.2vw;
}


#ronald-reagan{
  position: absolute;
  left: 32.2vw;
  top: 50.3vw;
}

#crystal-city{
  position: absolute;
  left: 29.6vw;
  top: 48.8vw;
}

#pentagon-city{
  position: absolute;
  left: 28.2vw;
  top: 46.1vw;
}

#pentagon{
  position: absolute;
  left: 28.2vw;
  top: 43.0vw;
}

#pentagon{
  position: absolute;
  left: 28.2vw;
  top: 43.0vw;
}

#arlington-cemetery{
  position: absolute;
  left: 24.8vw;
  top: 38.3vw;
}

#van-dorn-st{
  position: absolute;
  left: 22.63vw;
  top: 57.0vw;
}

#franconia-springfield{
  position: absolute;
  left: 19.60vw;
  top: 60.8vw;
}
